@import url(../sections/feature.css);
@import url(../sections/about.css);
@import url(../sections/countries.css);
@import url(../sections/faq.css);
@import url(../sections/gallery.css);
/*** 

====================================================================
  Anim Icons
====================================================================

***/
.anim-icons {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }
  
  .anim-icons.full-width {
    max-width: 100%;
  }
  
  .anim-icons .icon {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .icon-plane {
    width: 237px;
    height: 333px;
    background-image: url(../../img/background/icon-object-2.png);
  }
  
  .icon-quote {
    width: 71px;
    height: 71px;
    background-image: url(../../img/background/icon-object-3.png);
  }
  
  .icon-quote-2 {
    width: 35px;
    height: 25px;
    background-image: url(../../img/background/icon-object-2.png);
  }
  
  .icon-dots {
    width: 75px;
    height: 156px;
    background-image: url(../../img/background/icon-object-3.png);
  }
  
  .icon-object-1 {
    width: 238px;
    height: 680px;
    background-image: url(../../img/background/icon-object-2.png);
  }
  
  .icon-object-2 {
    width: 358px;
    height: 625px;
    background-image: url(../../img/background/icon-plane.png);
  }
  
  .icon-object-3 {
    width: 377px;
    height: 410px;
    background-image: url(../../img/background/icon-object-2.png);
  }
  
  .icon-object-4 {
    width: 552px;
    height: 480px;
    background-image: url(../../img/background/icon-plane.png);
  }
  
  .icon-wide-map {
    width: 2447px;
    height: 1081px;
    background-image: url(../../img/background/icon-object-2.png);
  }
  
  .icon-shape-4 {
    width: 275px;
    height: 290px;
    background-image: url(../../img/background/icon-object-3.png);
  }
  
  .icon-shape-5 {
    width: 291px;
    height: 558px;
    background-image: url(../../img/background/icon-plane.png);
  }
  
  .icon-cards {
    width: 147px;
    height: 343px;
    background-image: url(../../img/background/icon-object-3.png);
  }
  
  .bounce-y {
    -webkit-animation: bounce-y 10s infinite linear;
            animation: bounce-y 10s infinite linear;
  }
  
  .bounce-x {
    -webkit-animation: bounce-x 10s infinite linear;
            animation: bounce-x 10s infinite linear;
  }
  
  .zoom-one {
    -webkit-animation: zoom-one 10s infinite linear;
            animation: zoom-one 10s infinite linear;
  }
  
  @-webkit-keyframes float {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes float {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @-webkit-keyframes bounce-y {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes bounce-y {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @-webkit-keyframes bounce-x {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    50% {
      -webkit-transform: translateX(30px);
              transform: translateX(30px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes bounce-x {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    50% {
      -webkit-transform: translateX(30px);
              transform: translateX(30px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @-webkit-keyframes zoom-one {
    0% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    50% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
    100% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
  }
  @keyframes zoom-one {
    0% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    50% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
    100% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
  }
  @-webkit-keyframes zoom-two {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes zoom-two {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .overlay-anim {
    position: relative;
  }
  .overlay-anim:after {
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 1;
    z-index: 9;
    pointer-events: none;
  }
  .overlay-anim:hover:after {
    height: 100%;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
  }
/*** 

====================================================================
Global Settings
====================================================================

***/
textarea {
    overflow: hidden;
    resize: none;
}

button {
    outline: none !important;
    cursor: pointer;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.title a {
    color: inherit;
}

.color1 {
    color: var(--theme-color1);
}

.color2 {
    color: var(--theme-color2);
}

.color3 {
    color: var(--theme-color3);
}

.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
    z-index: 99;
    background-color: #ffffff;
}

.large-container {
    position: static;
    max-width: var(--large-container-width);
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

.auto-container {
    position: static;
    max-width: var(--container-width);
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

.small-container {
    position: static;
    max-width: var(--small-container-width);
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.dropdown-toggle::after {
    display: none;
}

.style-font {
    font-family: var(--style-font);
}

/*=======================
      Preloader
  =======================*/
.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #ffffff;
}

.preloader:after {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 200px;
    margin-left: -100px;
    margin-top: -60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../../img/background/pattern-10.png);
    background-size: 200px;
    content: "";
}

.preloader:before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 10px;
    color: var(--theme-color1);
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: none;
    transition: none;
    border-top: 2px solid var(--border-theme-color4);
    content: "Loading";
}

/*=======================
  Scroll To Top style
  =======================*/
.scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: var(--theme-color2);
    z-index: 100;
    display: none;
    border-radius: 50%;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.scroll-to-top:hover {
    background: var(--theme-color1);
    color: #ffffff;
}

/*=======================
  More Styles
  =======================*/
.swiper {
    width: 100%;
    height: 650px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
.custom-img-x2{
    width:100%;
    height: fit-content;
}
.main-menu .navigation > li{
    margin-right: 30px;
}
.main-footer .upper-box .logo>a>img{
    height: 70px;
    width:fit-content
}